.App {
  text-align: center;
  background-color: #4f4f4f;
  color: white;
}

.App-header {
  background-color: #4f4f4f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                      Scrollbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body::-webkit-scrollbar{
  width: 0.4rem;
  height: 0.7rem
}
body::-webkit-scrollbar-track{
  border-left: 3px solid black;
  background-color: #282c34;
}
body::-webkit-scrollbar-thumb{
  background-image: linear-gradient(220deg, #FB1514 40%, #000000 89%);
  border-radius: 5px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

