:root{
  --color-one: #fb1514;
  --color-two: #000000;
  --color-three: #F8F9F5;
}


body{
  background-color: #4f4f4f;
  text-align: center;
  color: white;
}


.App-header {
  background-color: #4f4f4f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                      Scrollbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body::-webkit-scrollbar{
  width: 0.4rem;
  height: 0.7rem
}
body::-webkit-scrollbar-track{
  border-left: 3px solid var(--color-two);
  background-color: #282c34;
}
body::-webkit-scrollbar-thumb{
  background-image: linear-gradient(220deg, var(--color-one) 2%, var(--color-two) 98%);
  border-radius: 2px
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

